<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Link to your CSS file here -->
  <link href="kash.component.css" rel="stylesheet">
  <link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
  <title>Kash-Online Shopping</title>
 
</head>
<body>
<header>
  <div class="kash-logo">
    <img src="kash-logo.jpg" alt="kash Logo">
  </div>
  
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Shop</a></li>
      <li><a href="#">Deals</a></li>
      <li><a href="#">Cart</a></li>
      <li><a href="#">Login/Signup</a></li>
    </ul>
  </nav>
</header>
<div class="search-container">
  <input type="text"  placeholder="Search products...">
  <button class="search-button">
      <i class="fas fa-search"></i>
  </button>
</div>



<div class="container">
  <div class="card">
    <h3 class="title"></h3>
    <img src="product6.jpg" alt="Product 6">
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
    
    </div>
  </div>
  <div class="card">
    <h3 class="title"></h3>
    <img src="product7.jpg" alt="Product 7">
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      
    </div>
  </div>
  <div class="card">
    <h3 class="title"></h3>
    <img src="product8.jpg" alt="Product 8">
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      
    </div>
  </div>
  <div class="card">
    <h3 class="title"></h3>
    <img src="product9.jpg" alt="Product 9">
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="circle">
      
    </div>
  </div>
</div>
<section class="featured">
  <div class="product">
    <img src="product1.jpg" alt="Product 1">
    <h3>Skybags Brat Black 46 Cms Casual Backpack</h3>
    <p>Care Instructions: Hand Wash Only
      Combination of functional & safety features in stylish design.
      Size: 35 x 13 x 46 cms</p>
    <button>Add to Cart</button>
  </div><br>

  <div class="product"><br>
    <img src="product3.jpg" alt="Product 3">
    <h3>rangita Women Rayon Straight Kurti</h3>
    <p>Care Instructions: Hand Wash Only
      Fit Type: Straight
      Colour: Yellow || Fabric: Rayon
      Style: Straight || Neck: Round Neck
      </p>
    <button>Add to Cart</button>
  </div>

  <div class="product">
    <img src="product2.jpg" alt="Product 2">
    <h3>Puma Unisex-Adult Interflex Modern Running Shoe</h3>
    <p>Sole: Rubber
      Closure: Speed Laces
      Fit Type: Regular
      Shoe Width: Medium
    </p>
    <button>Add to Cart</button>
  </div>

  <div class="product">
    <img src="product4.jpg" alt="Product 4">
    <h3>YouBella Fashion Jewellery Gold Plated Necklace and Earrings Combo Jewellery Set for Girls and Women (Gold)</h3>
    <p>Best for Gifting and for personal Use, combine it with matching dress and be the limelight of every Occassion
      Plated with High Quality Polish for Long Lasting Finish
      </p>
    <button>Add to Cart</button>
  </div><br>
      <div class="product">
          <br><img src="product5.jpg" alt="Product 1">
          <h3>OnePlus 11R 5G (Sonic Black, 8GB RAM, 128GB Storage)</h3>
          <p>Camera: Sensor: 50MP Main Camera with Sony IMX890 (OIS supported), 8MP Ultrawide Camera (FOV: 120 degree) and Macro Lens; 16MP Front (Selfie) Camera with EIS support
              Camera Modes: Nightscape, Ultra HDR, Smart Scene Recognition, Portrait Mode, Pro Mode, Panorama, Tilt-Shift mode, Long Exposure, Dual-View Video, Retouch, Movie Mode, Raw file, Filters, Super Stable, Video Nightscape, Video HDR, Video Portrait, Focus Tracking, Timelapse, Macro mode
              Display: 6.7 Inches; 120 Hz Super Fluid AMOLED; Resolution: 2772 X 1240 pixels ,450 ppi, 20.1:9, 10-bit Color Depth, HDR10+
              </p>
          <div class="ratings">
              <i class="fas fa-star"></i>
            <span class="star"></span>
            <i class="fas fa-star"></i>
            <span class="star"></span>
            <i class="fas fa-star"></i>
            <span class="star"></span>
            <i class="fas fa-star"></i>
            <span class="star"></span>
            <span class="star"></span>
            <span class="rating-count">(7,173)</span>
          </div>
          <button>Add to Cart</button>
        </div><br>
        <div class="recommended"><br>
          <br><br><br><br><br><br><br><br><br><h2>Recommended for You</h2>
          <div class="product">
              <img src="product10.jpg" alt="product 10">
    <h3>true Browns Lime Gold Cotton Oversized Round Co-Ord Set</h3>
    <p>Care Instructions: Dry Clean Only
      truebrowns womens ethnic traditional suit set festive look party wear fusion kurta sets co-ord sets
      breathable fabric
     </p>
    <button>Buy now</button>
  </div>
  <div class="product">
              <img src="product11.jpg" alt="product 11">
    <h3>Lanka ka Yuddh (War Of Lanka) Ram Chandra Series Book 4 Paperback</h3>
    <p>LANKA WILL BURN. DARKNESS WILL PERISH.

      BUT CAN LIGHT ENDURE?
      
      INDIA, 3400 BCE.
      
      Greed. Rage. Grief. Love. Smouldering tinder, waiting to trigger a war.</p>
    <button>Buy now</button> 
  </div>
          <div class="deals">
              <h2>Deals of the Day</h2>
              <div class="deal-timer">
                <h3>Deal Ends In:2 Days 10 hours 27 minutes</h3>
                <div id="countdown-timer"></div>
              </div>
              
              <div class="product">
                  <img src="product12.jpg" alt="product 12">
                  <h3>Havells Altro 1.5 Litre Double Wall Kettle/304 Stainless Steel Inner Body/Cool Touch Outer Body/Wider Mouth|2 Year Warranty (Black,1250 Watt),1250 Watts,1.5 Liter</h3>
                  <p> Brand	Havells
                      Colour	Black
                  </p>
                  <button>Buy now</button> 
              </div>
              <div class="product">
                <img src="product13.jpg" alt="product 13">
                <h3>Rakhi Gift Hamper for Brother - 10 Items Gift Set | Rakhi & Roli Chawal | 4 Dry-Fruit Packs | Photo Frame | Uno & More – Unique Box Design | Healthy Chocolates & Sweets - Raksha Bandhan Gift Box</h3>
                <p>Brand	EAT BETTER CO
                  Number of Items	10
                  Flavour	Rakhi Gift Hamper for Brother
                  Size	Large
                </p>
                <button>Buy now</button> 
                </div>
                
              </div>
              <script src="app.js"></script>
              <script src= "config.js"></script>
            </div>